<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ledoa.dailyexsuper" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.DiBoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ChayActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.HitDatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.XeDapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.LichtapDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BaiTapDiBoActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.BaiTapDiBoTheoBuocActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.BaiTapDiBoTheoThoiGianActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.ThongBaoActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.ThemBanActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.DanhBaActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_bai_tap_di_bo" >
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".activity.BaiTapGiamCanActivity"
            android:label="@string/title_activity_bai_tap_giam_can" >
        </activity>
        <activity
            android:name=".activity.TaoChuongTrinhGiamCanActivity"
            android:label="@string/title_activity_tao_chuong_trinh_giam_can" >
        </activity>
        <activity
            android:name=".activity.ThongTinChuongTrinhGiamCanActivity"
            android:label="@string/title_activity_thong_tin_chuong_trinh_giam_can" >
        </activity>
        <activity
            android:name=".activity.ChuongTrinhTangSucBenActivity"
            android:label="@string/title_activity_chuong_trinh_tang_suc_ben" >
        </activity>
    </application>

</manifest>
